# App Configuration
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Auth (NextAuth.js)
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="yrejhnmxzdkjkjloiuuesrdesbnmkjyhgfdscfvbv"

# OAuth Providers
GITHUB_ID="Ov23liXUUyybVz07nI7Z"
GITHUB_SECRET="a7b3db69fa14c7da4a82922f99bad51ae689ae2d"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""